# windows电脑是存储/r/n为换行符的。可以设置在commit提交时转为LF，检出时转为CRLF
# text=auto 就是对所有文本都按git认为最好的方式来处理文件，git发现是文本文件,那么在checkin的时候，会将文件结尾符转换为LF。
# 当然，其实设置.gitattributes或者对笔记本上做vsCode设置 选用 eol 都可以，二者选其一
# 但优势在于，前者更适合作为团队统一风格使用。
* text=auto